header{
    background-color: blue;
}

footer{
    background-color: aqua;
}

#menu{
    background-color: red;
}

.artykul{
    background-color: aquamarine;
}

.side{
    background-color: chartreuse;
}